.home-page {
  @apply flex h-lvh flex-col;
}

.content {
  @apply relative grow;
}

.main-text-div {
  @apply flex h-full flex-col justify-between py-28 pl-20 text-7xl text-white;
}

.data-structures-line {
  @apply flex gap-12 text-purple-400;
}

.data-structures-list-div {
  @apply h-[1em] overflow-hidden tracking-wide;
}
.data-structures-list {
  animation: scroll 4s infinite;
  animation-timing-function: steps(4, end);
}
.data-structure-coming-soon::after {
  @apply relative -top-6 text-lg content-['*'];
}
@keyframes scroll {
  0% {
    transform: translateY(0em);
  }
  100% {
    transform: translateY(-4em);
  }
}
.emphasized-text {
  @apply pl-5 text-8xl font-bold tracking-[1.75rem];
}

.moto-graph-div {
  @apply absolute right-0 top-0 z-10 h-full w-full;
}
.moto-graph {
  @apply h-fit w-full;
}

.footnote {
  @apply absolute bottom-2 right-4 text-purple-400/50;
}
